<div class="col-10 offset-1 about">
    <h1>About SMPL [<i>A Splurty Project</i> ]</h1>
    <p>SMPL was built by <a href="http://jaredmahoney.getforge.io/index.html" target="_blank">Jared Mahoney</a> as his first project in <a href="https://www.thefirehoseproject.com" target="_blank">The Firehose Project</a> software development bootcamp. It provides quotes about simplicity and allows a users to submit quotes that will display on the main page.</p>
    <p>Jared believes in technology's ability to benefit society. This belief has led him to start a journey to learn and apply coding skills with the goal of contributing to the advancement of society through technology.</p>
    
    <div class="row" style="padding-top: 50px;">
        <div class="col-12 col-sm-4">
            <%= image_tag 'jared_profile.jpg', class: 'img-fluid' %>
        </div>
        <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class="test-center">Jared Mahoney</h2>
            <br />
            <p>Jared is an operations manager at a small business in Cary, NC. He graduated with his MBA from ECU and is now a student in the software development track at The Firehose Project.</p>
            <p>After completing the course, he looks forward to integrating his knowledge of business and his newly learned skills in software development to help his team grow the business and provide meaningful value to their customers.</p>
        </div>
    </div>
</div>