/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #ddd;
}

@media (max-width: 750px) {
  body {
    margin-bottom: 110px;
  }
  
  .footer {
    height: 110px;
  }
}