// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.clear {
    clear: both;
}

.circle {
    font-weight:bold;
    position: relative;
    border-radius: 100%;
    background: #16a085;
    width: 90px;
    height: 90px;
    margin: 10px 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    cursor: pointer;
}

.slogan {
    font-family: 'playfair_displayregular', serif;
    font-style: italic;
    padding: 26px 10px 0 10px;
    color: #222;
}

.links {
    padding: 26px 0 0 0;
    text-align: center;
}

.links a {
    color: #222;
    font-size: 25px;
    border: 1px solid #16a085;
    margin: 0 1px;
    padding: 8px 15px;
    text-align: center;
    font-family: 'playfair_displayregular', serif;
    font-weight: bold;
}

header {
    border-top: 9px solid #222;
}

hr {
    clear: both;
}

h1 {
    font-family: 'playfair_displayregular', cursive;
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-family: 'playfair_displayregular', sans-serif;
    font-weight: lighter;
}

body {
    background-color: #f5f5f5;
}